# Python e Pandas

In [1]:
import pandas as pd

# Asa

In [2]:
dados_das_asas = pd.read_excel("DFWing.xlsx", "Página1")

In [3]:
dataframe_asas = pd.DataFrame(dados_das_asas)

## Análise dos dados

**Três maiores Cl de perfis de asa:**

In [4]:
dataframe_asas.nlargest(3, "CL")

,tipo,nome,alpha,CL,CD,CDp,CM,Top_Xtr,Bot_Xtr
89,asa,selig 1223 rtl,17.25,2.4072,0.05989,0.05562,-0.1708,0.2031,1.0
88,asa,selig 1223 rtl,17.00,2.4061,0.05746,0.05310,-0.1721,0.2067,1.0
90,asa,selig 1223 rtl,17.50,2.4041,0.06289,0.05868,-0.1695,0.1998,1.0

**Três menores Cd de perfis de asa**

In [5]:
dataframe_asas.nsmallest(3, "CD")

    tipo       nome  alpha      CL       CD      CDp      CM  Top_Xtr  Bot_Xtr
287  asa  FX 63-137  -1.50  0.7454  0.00856  0.00276 -0.2071   0.6975   0.4144
288  asa  FX 63-137  -1.25  0.7746  0.00856  0.00280 -0.2073   0.6911   0.4429
286  asa  FX 63-137  -1.75  0.7160  0.00858  0.00274 -0.2068   0.7041   0.3771

**Melhor perfil para asa levando em consideração o Cl e o Cd**

A eficiência aerodinâmica em relação ao coeficiente de sustentação (Cl), coeficiente de arrasto (Cd) e ao ângulo de ataque (a), é determinado por: *Cl / Cd*. (Fundamentos da Engenharia

In [6]:
dataframe_asas["eficiencia_CL_CD"] = dataframe_asas["CL"] / dataframe_asas["CD"]

In [7]:
dataframe_asas.query("eficiencia_CL_CD == eficiencia_CL_CD.max()")
# Procura pelo maior valor na coluna coeficiente e retorna a linha inteira

,tipo,nome,alpha,CL,CD,CDp,CM,Top_Xtr,Bot_Xtr,eficiencia_CL_CD
226,asa,eppler 423,5.5,1.6587,0.01344,0.00757,-0.2279,0.5282,1.0,123.415179

**Organização do dataframe de asas**

In [17]:
dataframe_asas.sort_values(by=['eficiencia_CL_CD'], ascending=False, inplace=True)

# Empenagem

In [9]:
dados_das_empenagens = pd.read_excel("DFEmpennage.xlsx", "Página1")

In [10]:
dataframe_empenagens = pd.DataFrame(dados_das_empenagens)

## Análise de Dados

**Três menores Cl de perfis de empenagem**

In [11]:
dataframe_empenagens.nsmallest(3, "CL")

,tipo,nome,alpha,CL,CD,CDp,CM,Top_Xtr,Bot_Xtr
160,empenagem,naca 0012,-5.00,-0.6274,0.01036,0.00414,0.0125,0.9985,0.1775
0,empenagem,naca 009,-5.00,-0.6239,0.01121,0.00461,0.0144,1.0000,0.0637
1,empenagem,naca 009,-4.75,-0.6024,0.01098,0.00432,0.0156,1.0000,0.0675

**Organização do dataframe de empenagem**

In [16]:
dataframe_empenagens.sort_values(by=['CL'], inplace=True)

# Registro das Análises

In [25]:
planilha = pd.ExcelWriter('planilha_final.xlsx', engine='xlsxwriter')

In [26]:
dataframe_asas.to_excel(planilha, sheet_name='Asas', index=False)

In [27]:
dataframe_empenagens.to_excel(planilha, sheet_name='Empenagens', index=False)

In [28]:
planilha.save()

In [29]:
dataframe_empenagens

,tipo,nome,alpha,CL,CD,CDp,CM,Top_Xtr,Bot_Xtr
160,empenagem,naca 0012,-5.00,-0.6274,0.01036,0.00414,0.0125,0.9985,0.1775
0,empenagem,naca 009,-5.00,-0.6239,0.01121,0.00461,0.0144,1.0000,0.0637
1,empenagem,naca 009,-4.75,-0.6024,0.01098,0.00432,0.0156,1.0000,0.0675
161,empenagem,naca 0012,-4.75,-0.5903,0.01000,0.00393,0.0102,0.9957,0.2096
78,empenagem,naca 0010,-5.00,-0.5901,0.01084,0.00410,0.0066,1.0000,0.0677
...,...,...,...,...,...,...,...,...,...
236,empenagem,naca 0012,14.00,1.2302,0.03761,0.03239,0.0341,0.0218,1.0000
240,empenagem,naca 0012,15.00,1.2327,0.04811,0.04324,0.0336,0.0206,1.0000
237,empenagem,naca 0012,14.25,1.2337,0.03973,0.03459,0.0343,0.0215,1.0000
238,empenagem,naca 0012,14.50,1.2360,0.04209,0.03703,0.0343,0.0212,1.0000
239,empenagem,naca 0012,14.75,1.2363,0.04481,0.03983,0.0341,0.0209,1.0000

In [30]:
dataframe_asas

,tipo,nome,alpha,CL,CD,CDp,CM,Top_Xtr,Bot_Xtr,eficiencia_CL_CD
226,asa,eppler 423,5.50,1.6587,0.01344,0.00757,-0.2279,0.5282,1.0000,123.415179
225,asa,eppler 423,5.25,1.6339,0.01324,0.00743,-0.2283,0.5319,1.0000,123.406344
227,asa,eppler 423,5.75,1.6786,0.01363,0.00779,-0.2265,0.5247,1.0000,123.154806
224,asa,eppler 423,5.00,1.6130,0.01310,0.00731,-0.2296,0.5354,1.0000,123.129771
228,asa,eppler 423,6.00,1.6956,0.01378,0.00798,-0.2245,0.5208,1.0000,123.047896
...,...,...,...,...,...,...,...,...,...,...
3,asa,selig 1223 rtl,-4.25,0.2682,0.05885,0.05413,-0.1135,0.3891,0.0262,4.557349
2,asa,selig 1223 rtl,-4.50,0.2595,0.06053,0.05581,-0.1137,0.3937,0.0255,4.287130
1,asa,selig 1223 rtl,-4.75,0.2515,0.06208,0.05735,-0.1143,0.3984,0.0252,4.051224
98,asa,selig 1223,-5.00,0.2652,0.06686,0.06438,-0.1153,0.8393,0.0203,3.966497
0,asa,selig 1223 rtl,-5.00,0.2448,0.06318,0.05848,-0.1163,0.4053,0.0250,3.874644